<% if @preference.errors.any? %>
  <% @preference.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit preference #<%= @preference.id %>
</h1>

<hr>

<form action="/update_preference/<%= @preference.id %>" method="post">


  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <input type="text" id="cuisine" name="cuisine" class="form-control" value="<%= @preference.cuisine %>">
  </div>

  <div class="form-group">
    <label for="preference_scale">
      Preference scale
    </label>

    <input type="text" id="preference_scale" name="preference_scale" class="form-control" value="<%= @preference.preference_scale %>">
  </div>

  <div class="form-group">
    <label for="dietary_restriction">
      Dietary restriction
    </label>

    <input type="text" id="dietary_restriction" name="dietary_restriction" class="form-control" value="<%= @preference.dietary_restriction %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update preference
  </button>
</form>

<hr>

<a href="/preferences">
  Go back
</a>
