<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Preference #<%= @preference.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/preferences" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @preference.user %>
          <a href="/preferences/<%= @preference.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit preference
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @preference.user %>
          <a href="/delete_preference/<%= @preference.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete preference
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @preference.user.present? %>
          <a href="/users/<%= @preference.user_id %>">
            <%= @preference.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Cuisine
      </dt>
      <dd>
        <%= @preference.cuisine %>
      </dd>

      <dt>
        Preference scale
      </dt>
      <dd>
        <%= @preference.preference_scale %>
      </dd>

      <dt>
        Dietary restriction
      </dt>
      <dd>
        <%= @preference.dietary_restriction %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@preference.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@preference.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

