<% if @rating.errors.any? %>
  <% @rating.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit rating #<%= @rating.id %>
</h1>

<hr>

<form action="/update_rating/<%= @rating.id %>" method="post">


  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :address, @rating.restaurant_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rating_scale">
      Rating scale
    </label>

    <input type="text" id="rating_scale" name="rating_scale" class="form-control" value="<%= @rating.rating_scale %>">
  </div>

  <div class="form-group">
    <label for="occasion">
      Occasion
    </label>

    <input type="text" id="occasion" name="occasion" class="form-control" value="<%= @rating.occasion %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
