<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ratings
    </h1>

    <a href="/ratings/new" class="btn btn-block btn-outline-secondary">
      Add a new rating
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "rating_templates/ratings_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Rating scale
        </th>

        <th>
          Occasion
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @ratings.each do |rating| %>
      <tr>
        <td>
          <%= rating.id %>
        </td>

        <td>
          <% if rating.user.present? %>
            <a href="/users/<%= rating.user.id %>">
              <%= rating.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if rating.restaurant.present? %>
            <a href="/restaurants/<%= rating.restaurant.id %>">
              <%= rating.restaurant.address %>
            </a>
          <% end %>
        </td>

        <td>
          <%= rating.rating_scale %>
        </td>

        <td>
          <%= rating.occasion %>
        </td>

        <td>
          <%= time_ago_in_words(rating.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(rating.updated_at) %> ago
        </td>

        <td>
          <a href="/ratings/<%= rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @ratings, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
