<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Rating #<%= @rating.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ratings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @rating.user %>
          <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit rating
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @rating.user %>
          <a href="/delete_rating/<%= @rating.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete rating
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @rating.user.present? %>
          <a href="/users/<%= @rating.user_id %>">
            <%= @rating.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Restaurant
      </dt>
      <dd>
        <% if @rating.restaurant.present? %>
          <a href="/restaurants/<%= @rating.restaurant_id %>">
            <%= @rating.restaurant.address %>
          </a>
        <% end %>
      </dd>

      <dt>
        Rating scale
      </dt>
      <dd>
        <%= @rating.rating_scale %>
      </dd>

      <dt>
        Occasion
      </dt>
      <dd>
        <%= @rating.occasion %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@rating.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

