<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Event #<%= @event.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/events" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/events/<%= @event.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit event
        </a>
      </div>

      <div class="col">
        <a href="/delete_event/<%= @event.id %>" class="btn btn-block btn-outline-secondary">
          Delete event
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Venue
      </dt>
      <dd>
        <% if @event.venue.present? %>
          <a href="/restaurants/<%= @event.venue_id %>">
            <%= @event.venue.address %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "event_templates/event_participants" %>
  </div>
</div>
