<h1>
  Edit participant #<%= @participant.id %>
</h1>

<hr>

<!-- Form participant start -->
<form action="/update_participant/<%= @participant.id %>" method="post">
<!-- Form participant end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :venue_id, @participant.event_id), :class => "form-control") %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @participant.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for location start -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <!-- Input for location start -->
    <input type="text" id="location" name="location" class="form-control" value="<%= @participant.location %>">
    <!-- Input for location end -->
  </div>
  <!-- Label and input for location end -->

  <button class="btn btn-block btn-outline-secondary">
    Update participant
  </button>
</form>

<hr>

<a href="/participants">
  Go back
</a>
