<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All participants
    </h1>

    <a href="/participants/new" class="btn btn-block btn-outline-secondary">
      Add a new participant
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "participant_templates/participants_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Event
        </th>

        <th>
          User
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @participants.each do |participant| %>
      <tr>
        <!-- Display participant.id start -->
        <td>
          <%= participant.id %>
        </td>
        <!-- Display participant.id end -->

        <!-- Display participant.event_id start -->
        <td>
          <% if participant.event.present? %>
            <a href="/events/<%= participant.event.id %>">
              <%= participant.event.venue_id %>
            </a>
          <% end %>
        </td>
        <!-- Display participant.event_id end -->

        <!-- Display participant.user_id start -->
        <td>
          <% if participant.user.present? %>
            <a href="/users/<%= participant.user.id %>">
              <%= participant.user.email %>
            </a>
          <% end %>
        </td>
        <!-- Display participant.user_id end -->

        <!-- Display participant.location start -->
        <td>
          <%= participant.location %>
        </td>
        <!-- Display participant.location end -->

        <!-- Display participant.created_at start -->
        <td>
          <%= time_ago_in_words(participant.created_at) %> ago
        </td>
        <!-- Display participant.created_at end -->

        <!-- Display participant.updated_at start -->
        <td>
          <%= time_ago_in_words(participant.updated_at) %> ago
        </td>
        <!-- Display participant.updated_at end -->

        <td>
          <a href="/participants/<%= participant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @participants, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
