<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Participant #<%= @participant.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/participants" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/participants/<%= @participant.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit participant
        </a>
      </div>

      <div class="col">
        <a href="/delete_participant/<%= @participant.id %>" class="btn btn-block btn-outline-secondary">
          Delete participant
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Event
      </dt>
      <dd>
        <% if @participant.event.present? %>
          <a href="/events/<%= @participant.event_id %>">
            <%= @participant.event.venue_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @participant.user.present? %>
          <a href="/users/<%= @participant.user_id %>">
            <%= @participant.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @participant.location %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@participant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@participant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

